html{
    background-color:red;
}

.Kutu1{
    width: 60px;
    height: 60px;
    background-color: white;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;

}
.clear{
    clear: both;
}
.Kutu2{
    width: 60px;
    height: 60px;
    background-color: white;
    float: right;
    margin-right: 1rem;
    margin-bottom: 1rem;
}